# dependencies
node_modules

# RethinkDB docker folder
data

# google apis files
token.json
credentials.json

# config files
.vscode

# db config
config.json

# parcel folders
.cache

# logs
*.log

# dist folders
dist
build

# scripts
import/.ipynb_checkpoints/From statement in coding-excel-table  to statement json mockup-checkpoint.ipynb
import/source_data/~$DDB Mockup ACTANTS (entities Person, Concepts, Locations, Objects from Sellan).xlsx
import/source_data/~$DDB Sellan Coding source.xlsx
import/~$actants.xlsx

# venv
.env.**

# docker files
*.tar

# certificates
*.pem

.DS_Store

.idea
/packages/database/scripts/DDDproject-cd7d53f52e07.json

database_data

swagger.json