:root {
}
*,
::before,
::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
}

body {
  position: absolute;
  min-width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  /* overflow: hidden; */
}
.muni-font {
  /* font-family: muni; */
}
.btn {
  @apply m-4 px-2 py-1 text-white border-none font-bold rounded bg-primary;
}
button:focus {
  outline: 0 !important;
}
.table {
  .odd-strip {
    background-color: rgba(212, 219, 244, 0.4);
  }
}
.statement-editor {
  table {
    th {
      @apply font-normal;
      @apply text-sm;
    }
    td {
      @apply pr-2;
      @apply align-baseline;
    }
  }

  .section {
    .section-heading-first {
      @apply text-lg font-bold border-solid text-center mb-4 text-gray-700;
    }
    .section-heading {
      @apply text-lg font-bold mt-4 border-t-4 border-solid text-center mb-4 text-gray-700;
    }
  }

  .section-properties {
    .property-part {
      @apply mb-8;

      .add-new-property-button {
        @apply inline-flex;
        @apply ml-2;
        @apply align-middle;
      }
      .property-table {
        @apply ml-0;
        @apply mt-2;
      }
    }
  }
  .section-tags {
    .tag {
      @apply inline-flex;
      @apply mr-2;
    }
  }

  .section-actions {
    .action-buttons {
      @apply inline-flex;
      .action-button {
        /* @apply ml-2; */
      }
    }
  }

  .section-introduction {
    .table {
      .table-row {
        @apply leading-3;

        .label {
          @apply table-cell;
          @apply float-right;
          @apply mr-2;
        }
        .value {
          @apply align-text-top;
          @apply table-cell;
          min-width: 20em;
        }
      }
    }
  }
}
