:root {}

html {
}

body {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2px;
}

.btn {
  @apply m-4 px-2 py-1 text-white border-none font-bold rounded bg-primary;
}