# CI stages to execute against master branch on PR merge
name: deploy staging

on:
  push:
    branches:
      - dev

jobs:
  stagingdeploy:
    name: Deploy to staging environment
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout InkVisitor
        uses: actions/checkout@v2

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Create env file for server
        run: |
          touch packages/server/env/.env.staging
          echo "$SERVER_ENV" >> packages/server/env/.env.staging
        env:
          SERVER_ENV: ${{secrets.SERVER_ENV_STAGING}}

      - name: Create env file for client
        run: |
          touch packages/client/env/.env.staging
          echo "$CLIENT_ENV" >> packages/client/env/.env.staging
        env:
          CLIENT_ENV: ${{secrets.CLIENT_ENV}}

      - name: Add timestamp for the client
        run: |
          TZ=":Europe/Prague"
          echo "BUILD_TIMESTAMP=$(date +'%a %d.%m.%Y %H:%M')" >> packages/client/env/.env.staging

      - name: Build client
        run: |
          cd packages/client
          npm install
          npm run build-staging

      - name: Build server
        run: |
          cd packages/server
          npm install
          npm run build

      - name: Update packages
        run: |
          sudo apt-get update

      - name: Install OpenVPN
        run: |
          sudo apt install -y openvpn openvpn-systemd-resolved

      - name: Prepare OpenVPN creds file
        run: |
          touch pass.txt
          echo ${{ secrets.VPN_USER }} >> pass.txt
          echo ${{ secrets.VPN_PASS }} >> pass.txt

      - name: Pull OpenVPN Config
        run: |
          curl https://it.muni.cz/media/3404274/muni-main-linux.ovpn -o muni-linux.ovpn

      - name: Connect to VPN and deploy
        run: |
          sudo openvpn --config muni-linux.ovpn --auth-user-pass pass.txt --daemon
          sleep 20s

      - name: Deploy backend
        run: ./deploy-backend-staging.sh ${{ secrets.SSH_USER }} ${{ secrets.SSH_HOST }}

      - name: Deploy frontend
        run: ./deploy-frontend-staging.sh ${{ secrets.SSH_USER }} ${{ secrets.SSH_HOST }}

  dataimportdeploy:
    name: Deploy to data-import environment
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout InkVisitor
        uses: actions/checkout@v2

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Create env file for server
        run: |
          touch packages/server/env/.env.data-import
          echo "$SERVER_ENV" >> packages/server/env/.env.data-import
        env:
          SERVER_ENV: ${{secrets.SERVER_ENV_DATAIMPORT}}

      - name: Create env file for client
        run: |
          touch packages/client/env/.env.data-import
          echo "$CLIENT_ENV" >> packages/client/env/.env.data-import
        env:
          CLIENT_ENV: ${{secrets.CLIENT_ENV_DATAIMPORT}}

      - name: Add timestamp for the client
        run: |
          TZ=":Europe/Prague"
          echo "BUILD_TIMESTAMP=$(date +'%a %d.%m.%Y %H:%M')" >> packages/client/env/.env.data-import

      - name: Build client
        run: |
          cd packages/client
          npm install
          npm run build-data-import

      - name: Build server
        run: |
          cd packages/server
          npm install
          npm run build

      - name: Update packages
        run: |
          sudo apt-get update

      - name: Install OpenVPN
        run: |
          sudo apt install -y openvpn openvpn-systemd-resolved

      - name: Prepare OpenVPN creds file
        run: |
          touch pass.txt
          echo ${{ secrets.VPN_USER }} >> pass.txt
          echo ${{ secrets.VPN_PASS }} >> pass.txt

      - name: Pull OpenVPN Config
        run: |
          curl https://it.muni.cz/media/3404274/muni-main-linux.ovpn -o muni-linux.ovpn

      - name: Connect to VPN and deploy
        run: |
          sudo openvpn --config muni-linux.ovpn --auth-user-pass pass.txt --daemon
          sleep 20s

      - name: Deploy backend
        run: ./deploy-backend-data-import.sh ${{ secrets.SSH_USER }} ${{ secrets.SSH_HOST }}

      - name: Deploy frontend
        run: ./deploy-frontend-data-import.sh ${{ secrets.SSH_USER }} ${{ secrets.SSH_HOST }}
